body{
    margin: 0px;
    font-family: sans-serif;
}
section{
    padding-top: 50px;
    padding-bottom: 200px;
    height: 300px;
}
.Button{
    font-size: x-large;
    text-decoration: none;
    background-image: linear-gradient(65deg, rgb(62, 62, 250), cyan);
    font-weight: 700;
    height: 10px;
    padding: 9px 8px;
    border-radius: 10px;
    color: rgb(27, 51, 51);
}
.Button:hover{
    background-image: linear-gradient(5deg, cyan, white);
}
.section-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.section-width img{
    width: 90%;
}
#header-background{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
#biography-background{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.latest-work-section{
    width: 32%;
    height: 300px;
    padding-left: 10px;
}
    
#latest-work-background{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
h1{
    font-weight: 800;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: black;
}
#mail-button{
    color: rgb(248, 248, 231);
    text-align: center;
    background-image: linear-gradient(25deg, rgb(240, 58, 88), rgba(235, 111, 53, 0.856));
    height: 100px;
    width: 100%;
    border-radius: 8px;
    padding-top: 40px;
}
.latest-section-styling{
    text-align: center;
    color: lightslategrey;
    font-weight: 600;
    font-size: large;

}
.client{
    box-shadow: 10px 10px 40px rgba(159, 200, 212, 0.637) ;
    border-radius: 9px;
    height: 50%;
    width: 30%;
    padding: 15px 15px;
    padding-left: 30px;
    display: inline-block;
    border-top: 7px solid;
    border-image: linear-gradient(76deg, rgba(243, 169, 191, 0.815), rgb(235, 31, 82) );
    border-image-slice: 1;
}
#footer-section{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
}
footer{
    font-size: x-small;
    text-align: center;
    color: lightslategray;
}
span{
    font-size: x-large; 
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
